body {
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
}

nav {
	position: absolute;
	right: 0;

}

ul li {
	display: inline-block;
	margin: 0 10px;
	list-style-type: none;
	font-size: 13px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	width: 100%;
	background: #EFEFEF;
	border-top: 1px solid #E4E4E4;
	position: absolute;
	bottom: 0;
	font-size: 14px;
}

footer a {
	color: #666;
}


.fl {
	float: left;
}

.fr {
	float: right;
	margin-right: 30px;
}

center {
    display: block;
    text-align: -webkit-center;
}