body {
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
}

nav {
	position: absolute;
	right: 20px;
	top: 10px;

}

ul li {
	display: inline-block;
	margin: 0 10px;
	list-style-type: none;
	font-size: 13px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
    margin: 15px 27%;
}

button {
	background: #F4F4F4;
	padding: 10px 15px;
	border-radius: 2px;
	border: 0;
	color: #757575;
	font-weight: 600;
	font-size: 13px;
	margin: 0 5px;
}


button.signIn {
	border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    padding: 6px 10px;
}


.content {
	width: 638px;
	margin: 10% auto 0 auto;
}


input:focus {
    outline:none;
}

input:active {
	border: 1px solid #4d90fe;
}

.sb {
	width: 638px;
	border: 1px solid #D9D9D9;
	height: 38px;
}

.sb:hover {
	border: 1px solid #b9b9b9;
}

footer {
	width: 100%;
	background: #EFEFEF;
	border-top: 1px solid #E4E4E4;
	position: absolute;
	bottom: 0;
	font-size: 14px;
}

footer a {
	color: #666;
}


.fl {
	float: left;
	padding-left: 20px;
}

.fr {
	float: right;
	margin-right: 20px;
}

